.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f33535;
}

.logo_container {
  margin-bottom: 20px;
  align-items: center;
}
